<table>
  <thead>
    <tr>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Номер группы</td>
      <td>Средний балл</td>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.surname %></td>
        <td><%= student.name %></td>
        <td><%= student.group.number %></td>
        <td><%= student.average_marks.first.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
